header {
  width: 100%;
  max-width: 1200px;
  height: 100px;
  z-index: 90;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-white;
  opacity: 0.95;
}

.logo {
  width: 194px;
  height: 57px;
  // background-image: url(../../assets/images/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -999px;
  background-size: cover;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 101;
}

nav {
  width: 100%;
  z-index: 100;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 28px;
  height: 25px;
  z-index: 101;

  @include breakpoint($bp-md) {
    display: none;
  }
}

.nav-burger {
  width: 28px;
  height: 6px;
  background-color: $color-light-gray;

  @include border-radius(5px);
  @include transition;

  &:before {
    content: "";
    display: block;
    width: 28px;
    height: 6px;
    background-color: $color-light-gray;
    position: relative;
    top: -9px;

    @include border-radius(5px);
    @include transition;
  }

  &:after {
    content: "";
    display: block;
    width: 28px;
    height: 6px;
    background-color: $color-light-gray;
    position: relative;
    top: 3px;

    @include border-radius(5px);
    @include transition;
  }
}

.nav-burger.active {
  background-color: transparent;

  &:before {
    background-color: $color-grapefruit;
    -ms-transform: rotate(45deg) translate(6px, 6px);
    -moz-transform: rotate(45deg) translate(6px, 6px);
    -webkit-transform: rotate(45deg) translate(6px, 6px);
    -o-transform: rotate(45deg) translate(6px, 6px);
    transform: rotate(45deg) translate(6px, 6px);
  }

  &:after {
    background-color: $color-grapefruit;
    -ms-transform: rotate(-45deg) translate(7px, -7px);
    -moz-transform: rotate(-45deg) translate(7px, -7px);
    -webkit-transform: rotate(-45deg) translate(7px, -7px);
    -o-transform: rotate(-45deg) translate(7px, -7px);
    transform: rotate(-45deg) translate(7px, -7px);
  }
}

.nav-overlay {
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: $color-light-gray;
  opacity: 0.95;
  text-align: center;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;

  @include breakpoint($bp-md) {
    display: block;
    background-color: $color-white;
    height: 100px;
  }


  ul {
    @include both-align(absolute, 50%, 50%, -50%);

    @include breakpoint($bp-sm) {
      @include flexbox;

      width: 50%;
      max-width: 1000px;
      transform: translateY(-50%);
      right: 20px;
      left: auto;
      text-align: right;
    }


    li {
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }

      @include breakpoint($bp-sm) {
        margin: 0 10px;
        flex: 1;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    li a {
      text-decoration: none;
      color: $color-white;
      font: {
        size: 3em;
        family: $font-open;
        weight: 400;
      };

      @include breakpoint($bp-sm) {
        color: $color-grapefruit;
        font-size: 1.5em;
      }


      &:hover {
        text-decoration: none;
        color: $color-white;
        font-weight: 600;

        @include breakpoint($bp-sm) {
          color: $color-grapefruit;
        }
      }
    }
  }
}

.greeting {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  background-color: $color-white;
  position: fixed;
  z-index: 50%;
  display: none;

  svg {
    width: 100%;
    padding: 0 20px;

    @include both-align(absolute, 50%, 50%, -50%);
  }

  &.fin {
    .path-1, .path-2, .path-3 {
      stroke-dashoffset: 0;
    }

    .path-4 {
      stroke-width: 18px;
    }
  }
}

.path {
  fill: none;
  stroke: $color-light-gray;
  stroke-width: 18px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.path-1 {
  stroke-dasharray: 1850 2000;
  stroke-dashoffset: 1851;
  transition: 3s linear;
}

.path-2 {
  stroke-dasharray: 260 1000;
  stroke-dashoffset: 261;
  transition: 0.7s linear 3.2s;
}

.path-3 {
  stroke-dasharray: 100 1000;
  stroke-dashoffset: 101;
  transition: 0.3s linear 4.3s;
}

.path-4 {
  stroke-width: 0;
  transition: 0.1s linear 5s;
}

.jombo-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.name {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 20px;
  display: none;
}

.content-container {
  width: 100%;
  padding: 0 20px;
  z-index: 50;
  top: 100vh;
  position: relative;
  background-color: $color-white;

  @include breakpoint($bp-md) {
    width: 70%;
    float: right;
    padding-left: 20px;
  }
}


