@import "base";

@keyframes burgerslide {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 37px;
    opacity: 1;
  }
}

@keyframes logoslidedown {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 50px;
    opacity: 1;
  }
}

@include breakpoint($bp-sm) {
  @keyframes burgerslide {
    from {
      left: -15px;
      opacity: 0;
    }

    to {
      left: 15px;
      opacity: 1;
    }
  }

  @keyframes logoslidedown {
    from {
      top: -100%;
      opacity: 0;
    }

    to {
      top: 10px;
      opacity: 1;
    }
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes backgroundColor {
  from {
    background-size: 200%;
  }

  to {
    background-size: 100%;
  }
}

@keyframes scrollslideup {
  from {
    bottom: 3%;
    opacity: 0;
  }

  to {
    bottom: 5%;
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-30px);
  }

  40% {
    transform: translateX(-23px);
  }

  60% {
    transform: translateX(-21px);
  }
}


