.menu {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  left: -100%;
  background-color: $color-white;

  @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));
}

.menu-color {
  width: 100%;
  height: 100%;
  opacity: 0;

  @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));
}

.menu-container {
  position: relative;
  max-width: calc(100vw - 85px);
  height: 100%;
  background-color: $color-white;

  @include breakpoint($bp-sm) {
    max-width: calc(100vw - 160px);
  }


  @include breakpoint($bp-md) {
    max-width: 85%;
  }
}

.menu-options {
  position: absolute;
  left: 30px;
  top: 20%;

  @include breakpoint($bp-sm) {
    left: 150px;
    top: 50px;
  }


  @include breakpoint($bp-md) {
    left: 25%;
  }


  li {
    margin: 10px 0;
    text-align: left;
    opacity: 0;

    &:nth-child(1) {
      @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1), 0.5s);
    }

    &:nth-child(2) {
      @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1), 0.6s);
    }

    &:nth-child(3) {
      @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1), 0.7s);
    }

    &:last-of-type {
      margin-top: 40px;

      @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1), 0.8s);
    }
  }

  .links {
    text-decoration: none;
    color: $color-black;
    font-size: 1.4em;
    line-height: 1.7;
    position: relative;
    z-index: 1;
    font: {
      family: $font-mon;
      weight: 900;
    };

    @include breakpoint($bp-sm) {
      font-size: 1.8em;
    }


    @include breakpoint($bp-md) {
      font-size: 2em;
    }


    &:before, &:after {
      content: '';
      width: 0%;
      height: 17px;
      background: var(--cl, #FFFFFF);
      z-index: -1;

      @include vertical-align(absolute, 50%);
    }

    &:before {
      left: -2.5px;
    }

    &:after {
      right: 2.5px;
      background: var(--cl, transparent);

      @include transition(width, 0.8s, cubic-bezier(0.22, 0.61, 0.36, 1));
    }

    &:hover:before {
      background: var(--cl, transparent);
      width: 100%;

      @include transition(width, 0.5s, cubic-bezier(0.22, 0.61, 0.36, 1));
    }

    &:hover:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }

    &.link-home:after, &.link-home:hover:before, &.link-home.active:before {
      --cl: #ff5851;
    }

    &.link-email:after, &.link-email:hover:before, &.link-email.active:before {
      --cl: #fcb7a8;
    }

    &.link-project:after, &.link-project:hover:before, &.link-project.active:before {
      --cl: #f3c130;
    }

    &.link-fun:after, &.link-fun:hover:before, &.link-fun.active:before {
      --cl: #d8d8e8;
    }

    &.link-home.active:before, &.link-email.active:before, &.link-project.active:before, &.link-fun.active:before {
      width: 100%;
    }
  }
}

.menu-contact-info {
  position: absolute;
  left: 30px;
  bottom: 20%;
  text-align: left;
  opacity: 0;
  transition: top 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s, opacity 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;

  @include breakpoint($bp-sm) {
    left: 150px;
    top: 57%;
    margin-top: 40px;
  }


  @include breakpoint($bp-md) {
    left: 25%;
  }
}

.menu-burger-area {
  position: fixed;
  right: 30px;
  top: 37px;
  opacity: 1;
  text-align: center;
  font-size: 0px;
  z-index: 101;
  height: 45px;
  width: 45px;
  cursor: pointer;
  background: $color-white;
  animation: burgerslide 0.8s cubic-bezier(0.7, 0, 0.3, 1);

  &:hover {
    .menu-burger .line {
      &:nth-of-type(1) {
        width: 20px;
      }

      &:nth-of-type(2) {
        width: 32px;
      }

      &:nth-of-type(3) {
        width: 18px;
      }
    }
  }

  @include border-radius(25px);
  @include breakpoint($bp-sm) {
    right: auto;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;

    // animation: fadeIn 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0s forwards;

    &:hover {
      .menu-txt {
        @include transform(rotate(-90deg) translateY(-8px));

        span {
          &:nth-of-type(1) {
            @include transform(translateY(-5px));
          }

          &:nth-of-type(2) {
            @include transform(translateY(5px));
          }

          &:nth-of-type(3) {
            @include transform(translateY(-2px));
          }

          &:nth-of-type(4) {
            @include transform(translateY(3px));
          }
        }
      }
    }
  }
}

.menu-burger {
  @include both-align(absolute, 50%, 50%, -50%);

  .line {
    float: right;
    clear: right;
    height: 2px;
    background: $color-black;

    @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));

    &:nth-of-type(1) {
      width: 16px;
    }

    &:nth-of-type(2) {
      width: 20px;
      margin-top: 2px;

      @include breakpoint($bp-sm) {
        margin-top: 3px;
      }
    }

    &:nth-of-type(3) {
      width: 12px;
      margin-top: 2px;

      @include breakpoint($bp-sm) {
        margin-top: 3px;
      }
    }
  }
}

.menu-txt {
  opacity: 0;

  @include breakpoint($bp-sm) {
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 41%;
    right: -40px;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 150ms linear 0ms, color 150ms linear 0ms;
    -moz-transition: -moz-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 150ms linear 0ms, color 150ms linear 0ms;
    transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 150ms linear 0ms, color 150ms linear 0ms;
    font: {
      size: 0.4rem;
      family: $font-mon;
      weight: 900;
    };

    @include transform(rotate(-90deg));

    span {
      display: inline-block;

      @include transition(transform, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));
    }
  }
}

.menu-hover {
  @include breakpoint($bp-sm) {
    .jumbo-container {
      margin-left: 78px;
    }

    #greeting .scroll {
      color: $color-white;
    }
  }
}

.menu-active {
  .menu {
    padding: 20px 20px 20px 0;
    left: 0;

    @include breakpoint($bp-sm) {
      padding: 80px 80px 80px 0;
    }


    @include breakpoint($bp-md) {
      padding-right: 100px;
    }
  }

  .menu-color {
    opacity: 1;
    background: $color-light-light-gray;
  }

  .menu-options li {
    margin: 0 0 10px 0;
    opacity: 1;

    &:last-of-type {
      margin-top: 30px;

      @include breakpoint($bp-sm) {
        display: none;
      }
    }
  }

  .menu-contact-info {
    top: 90%;
    opacity: 1;

    @include breakpoint($bp-sm) {
      top: 55%;
    }
  }

  .menu-burger-area {
    @include breakpoint($bp-md) {
      left: 10% !important;
    }
  }

  .menu-burger {
    .line {
      &:nth-of-type(1) {
        width: 20px !important;

        @include transform(rotate(45deg));
      }

      &:nth-of-type(2) {
        width: 20px !important;
        margin-top: -2px;

        @include transform(rotate(-45deg));
      }

      &:nth-of-type(3) {
        width: 0px !important;
      }
    }
  }

  .menu-txt {
    display: none;
  }

  .desktop-social-icons {
    @include breakpoint($bp-sm) {
      right: 26px;
    }


    @include breakpoint($bp-md) {
      right: 37px;
    }
  }

  .logo-container {
    @include breakpoint($bp-sm) {
      top: 80px;
      left: 150px;
    }


    @include breakpoint($bp-md) {
      left: 20%;
    }
  }

  .scroll {
    color: $color-white;
  }
}

.padding {
  display: none;

  @include breakpoint($bp-sm) {
    display: block;
    z-index: 99;
    width: 100%;
    height: 40px;
    background-color: $color-white;
    position: fixed;
  }
}

.menuOpen {
  .jumbo-container {
    padding: 20px;

    @include breakpoint($bp-sm) {
      padding: 80px;
    }


    @include breakpoint($bp-md) {
      padding: 100px;
    }
  }

  #greeting .logo-container {
    @include breakpoint($bp-sm) {
      top: 80px;
      left: 150px;
      z-index: 100;
    }


    @include breakpoint($bp-md) {
      left: 20%;
    }
  }

  .menu-burger {
    .line {
      &:nth-of-type(1) {
        width: 20px !important;

        @include transform(rotate(45deg));
      }

      &:nth-of-type(2) {
        width: 20px !important;
        margin-top: -2px;

        @include transform(rotate(-45deg));
      }

      &:nth-of-type(3) {
        width: 0px !important;
      }
    }
  }

  .menu-button {
    @include breakpoint($bp-md) {
      left: 10% !important;
    }
  }

  .txt {
    display: none;
  }

  .menu-color {
    // padding-right: 20px;
    opacity: 1;

    // pointer-events: all;
    background-color: $color-grapefruit;

    @include breakpoint($bp-sm) {
      padding-right: 80px;
    }


    @include breakpoint($bp-md) {
      padding-right: 100px;
    }
  }

  .menu {
    padding: 20px 20px 20px 0;
    left: 0;

    @include breakpoint($bp-sm) {
      padding: 80px 80px 80px 0;
    }


    @include breakpoint($bp-md) {
      padding-right: 100px;
    }
  }

  .menu-options li {
    margin: 0 0 10px 0;
    opacity: 1;

    @include breakpoint($bp-sm) {
      margin: 0;
    }


    &:last-of-type {
      margin-top: 30px;

      @include breakpoint($bp-sm) {
        display: none;
      }
    }
  }

  .menu-contact-info {
    opacity: 1;
  }

  .menu-info {
    top: 90%;
    opacity: 1;

    @include breakpoint($bp-sm) {
      top: 55%;
    }
  }

  .desktop-social-icons {
    @include breakpoint($bp-sm) {
      right: 26px;
    }


    @include breakpoint($bp-md) {
      right: 37px;
    }
  }

  .scroll {
    color: transparent;
  }

  @media (max-height: 660px) and (min-width: 600px) {
    .menu {
      .menu-info {
        top: 40%;
      }
    }
  }
}

.menuHover {
  @include breakpoint($bp-sm) {
    .jumbo-container, .email-bg-container {
      padding-left: 78px;
    }

    .scroll {
      color: transparent;
    }
  }
}