@import "key-frames";

section {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.jumbo-container {
  width: 100%;
  margin: 0 auto;

  @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));

  @include breakpoint($bp-sm) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.icons {
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;

  svg {
    vertical-align: top;

    &:hover {
      #facebook-fill {
        fill: $color-facebook-hover;
      }

      #instagram-fill {
        fill: $color-ins-hover;
      }
    }
  }

  #wechat-fill:hover {
    fill: $color-wechat-hover;
  }
}

.contact-links {
  text-decoration: none;
  color: $color-black;
  font-size: 0.8em;
  line-height: 1.7;
  font: {
    family: $font-mon;
    weight: 600;
  };

  &.address {
    font-weight: 400;
  }

  &:hover {
    text-decoration: underline;

    &.address {
      text-decoration: none;
    }
  }
}

.brief {
  cursor: pointer;

  &:hover {
    .arrow:after {
      right: -10px;
    }

    .arrow:before {
      right: -10px;
      width: 35px;
    }
  }

  .arrow {
    position: relative;
    width: 65px;
    display: inline-block;
    padding-bottom: 45px;
    margin-right: 20px;

    &:before {
      content: "";
      width: 40px;
      height: 2px;
      background: $color-black;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 24px;

      @include transition(all, 0.3s, ease);
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 12px;
      border-color: transparent transparent transparent $color-black;
      position: absolute;
      top: 50%;
      margin-top: -6px;
      right: 13px;

      @include transition(all, 0.3s, ease);
    }
  }

  p {
    display: inline-block;
    color: $color-black;
    font-size: 0.875em;
    font: {
      weight: 400;
      family: $font-mon;
      size: 0.875;
    };
  }

  span {
    display: block;
    text-align: left;
    line-height: 1.7;
    font: {
      weight: 900;
      family: $font-mon;
      size: 1.5em;
    };

    @include breakpoint($bp-sm) {
      font-size: 1.8em;
    }


    @include breakpoint($bp-md) {
      font-size: 2em;
    }
  }
}

.waves {
  width: 50px;
  height: 10px;
  display: block;
  position: relative;
  padding-bottom: 30px;

  svg {
    position: absolute;
    left: 0;
  }
}

svg polyline {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.title {
  width: 100%;
  margin: 0 auto;
  padding: 50px 30px;

  h2 {
    line-height: 0.8;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    font: {
      size: 3em;
      weight: 900;
    };
  }

  h3 {
    color: $color-black;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 1.2em;
  }

  p {
    color: $color-black;
    font-weight: 400;
    margin-bottom: 20px;
  }

  a {
    color: $color-black;
    text-decoration: underline;
    display: block;
    line-height: 0.8;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    z-index: 1;
    width: 100px;
    font: {
      size: 0.9em;
      weight: 600;
    };

    &:before, &:after {
      content: '';
      width: 0%;
      height: 10px;
      background: var(--cl, #FFFFFF);
      z-index: -1;

      @include vertical-align(absolute, 50%);
    }

    &:before {
      left: -2.5px;
    }

    &:after {
      right: 2.5px;
      background: var(--cl, transparent);

      @include transition(width, 0.8s, cubic-bezier(0.22, 0.61, 0.36, 1));
    }

    &:hover {
      text-decoration: none;
    }

    &:hover:before {
      background: var(--cl, transparent);
      width: 100px;

      @include transition(width, 0.5s, cubic-bezier(0.22, 0.61, 0.36, 1));
    }

    &:hover:after {
      background: transparent;
      width: 100px;
      transition: 0s;
    }
  }
}

// menu begins
.menu-color {
  width: 100%;
  height: 100%;
  opacity: 0;

  @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));
}

.menu {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  left: -100%;
  background-color: $color-white;

  @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));
}

.menu-container {
  position: relative;
  max-width: calc(100vw - 85px);
  height: 100%;
  background-color: $color-white;

  @include breakpoint($bp-sm) {
    max-width: calc(100vw - 160px);
  }


  @include breakpoint($bp-md) {
    max-width: 85%;
  }
}

.menu-options {
  position: absolute;
  left: 40px;
  top: 15%;

  @include breakpoint($bp-sm) {
    left: 150px;
    top: 35%;
  }


  @include breakpoint($bp-md) {
    left: 25%;
    top: 20%;
  }


  li {
    margin: 10px 0;
    text-align: left;
    opacity: 0;

    &:nth-child(1) {
      @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1), 0.5s);
    }

    &:nth-child(2) {
      @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1), 0.6s);
    }

    &:nth-child(3) {
      @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1), 0.7s);
    }

    &:last-of-type {
      margin-top: 40px;

      @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1), 0.8s);
    }
  }

  .links {
    text-decoration: none;
    color: $color-black;
    text-align: left;
    font-size: 1.4em;
    line-height: 1.7;
    position: relative;
    z-index: 1;
    font: {
      family: $font-mon;
      weight: 900;
    };

    @include breakpoint($bp-sm) {
      font-size: 1.8em;
    }


    @include breakpoint($bp-md) {
      font-size: 2em;
    }


    &:before, &:after {
      content: '';
      width: 0%;
      height: 17px;
      background: var(--cl, #FFFFFF);
      z-index: -1;

      @include vertical-align(absolute, 50%);
    }

    &:before {
      left: -2.5px;
    }

    &:after {
      right: 2.5px;
      background: var(--cl, transparent);

      @include transition(width, 0.8s, cubic-bezier(0.22, 0.61, 0.36, 1));
    }

    &:hover:before {
      background: var(--cl, transparent);
      width: 100%;

      @include transition(width, 0.5s, cubic-bezier(0.22, 0.61, 0.36, 1));
    }

    &:hover:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }

    &.about:after, &.about:hover:before, &.about.active:before {
      --cl: #ffada9;
    }

    &.projects:after, &.projects:hover:before, &.projects.active:before {
      --cl: #f3c130;
    }

    &.fun:after, &.fun:hover:before, &.fun.active:before {
      --cl: #d8d8e8;
    }

    &.about.active:before, &.projects.active:before, &.fun.active:before {
      width: 100%;
    }
  }
}

.menu-contact-info {
  position: absolute;
  left: 40px;
  top: 92%;
  text-align: left;
  opacity: 0;
  transition: top 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s, opacity 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;

  @include breakpoint($bp-sm) {
    left: 150px;
    top: 57%;
    margin-top: 40px;
  }


  @include breakpoint($bp-md) {
    left: 25%;
  }
}

.menu-brief {
  display: none;

  @include breakpoint($bp-sm) {
    display: block;
    position: absolute;
    left: 61px;
    bottom: 30px;
  }


  @include breakpoint($bp-md) {
    left: 25%;
  }
}

.menu-burger-area {
  position: fixed;
  right: 30px;
  top: 37px;
  opacity: 1;
  text-align: center;
  font-size: 0px;
  z-index: 101;
  height: 45px;
  width: 45px;
  cursor: pointer;
  background: $color-white;
  animation: burgerslide 0.8s cubic-bezier(0.7, 0, 0.3, 1);

  &:hover {
    .menu-burger .line {
      &:nth-of-type(1) {
        width: 20px;
      }

      &:nth-of-type(2) {
        width: 32px;
      }

      &:nth-of-type(3) {
        width: 18px;
      }
    }
  }

  @include border-radius(25px);
  @include breakpoint($bp-sm) {
    right: auto;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;

    // animation: fadeIn 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0s forwards;

    &:hover {
      .menu-txt {
        @include transform(rotate(-90deg) translateY(-8px));

        span {
          &:nth-of-type(1) {
            @include transform(translateY(-5px));
          }

          &:nth-of-type(2) {
            @include transform(translateY(5px));
          }

          &:nth-of-type(3) {
            @include transform(translateY(-2px));
          }

          &:nth-of-type(4) {
            @include transform(translateY(3px));
          }
        }
      }
    }
  }
}

.menu-burger {
  @include both-align(absolute, 50%, 50%, -50%);

  .line {
    float: right;
    clear: right;
    height: 2px;
    background: $color-black;

    @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));

    &:nth-of-type(1) {
      width: 16px;
    }

    &:nth-of-type(2) {
      width: 20px;
      margin-top: 2px;

      @include breakpoint($bp-sm) {
        margin-top: 3px;
      }
    }

    &:nth-of-type(3) {
      width: 12px;
      margin-top: 2px;

      @include breakpoint($bp-sm) {
        margin-top: 3px;
      }
    }
  }
}

.menu-txt {
  opacity: 0;

  @include breakpoint($bp-sm) {
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 41%;
    right: -40px;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 150ms linear 0ms, color 150ms linear 0ms;
    -moz-transition: -moz-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 150ms linear 0ms, color 150ms linear 0ms;
    transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 150ms linear 0ms, color 150ms linear 0ms;
    font: {
      size: 0.4rem;
      family: $font-mon;
      weight: 900;
    };

    @include transform(rotate(-90deg));

    span {
      display: inline-block;

      @include transition(transform, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));
    }
  }
}

.desktop-social-icons {
  display: none;

  @include breakpoint($bp-sm) {
    display: block;
    right: 8px;
    z-index: 101;

    @include transition(right, 0.5s, cubic-bezier(0.7, 0, 0.3, 1));

    @include vertical-align(fixed, 50%);

    .icons {
      display: block;
      margin: 10px 0;
      vertical-align: middle;
    }
  }
}

.menu-hover {
  @include breakpoint($bp-sm) {
    .jumbo-container {
      padding-left: 78px;
    }

    #greeting .scroll {
      color: $color-white;
    }
  }
}

.menu-active {
  .menu {
    padding: 20px 20px 20px 0;
    left: 0;

    @include breakpoint($bp-sm) {
      padding: 80px 80px 80px 0;
    }


    @include breakpoint($bp-md) {
      padding-right: 100px;
    }
  }

  .menu-color {
    opacity: 1;
    background: $color-light-light-gray;
  }

  .menu-options li {
    margin: 0 0 10px 0;
    opacity: 1;

    &:last-of-type {
      margin-top: 30px;

      @include breakpoint($bp-sm) {
        display: none;
      }
    }
  }

  .menu-contact-info {
    top: 90%;
    opacity: 1;

    @include breakpoint($bp-sm) {
      top: 55%;
    }
  }

  .menu-burger-area {
    @include breakpoint($bp-md) {
      left: 10% !important;
    }
  }

  .menu-burger {
    .line {
      &:nth-of-type(1) {
        width: 20px !important;

        @include transform(rotate(45deg));
      }

      &:nth-of-type(2) {
        width: 20px !important;
        margin-top: -2px;

        @include transform(rotate(-45deg));
      }

      &:nth-of-type(3) {
        width: 0px !important;
      }
    }
  }

  .menu-txt {
    display: none;
  }

  .desktop-social-icons {
    @include breakpoint($bp-sm) {
      right: 26px;
    }


    @include breakpoint($bp-md) {
      right: 37px;
    }
  }

  .logo {
    @include breakpoint($bp-sm) {
      top: 80px;
      left: 150px;
    }


    @include breakpoint($bp-md) {
      left: 20%;
    }
  }

  .scroll {
    color: $color-white;
  }
}

// greeting section begins
.bottom-padding {
  display: none;

  @include breakpoint($bp-sm) {
    display: block;
    z-index: 99;
    width: 100%;
    height: 40px;
    background-color: $color-white;
    position: fixed;
    bottom: 0;
  }
}

.greeting-jumbo-container {
  height: 100vh;

  @include breakpoint($bp-sm) {
    padding-top: 40px;
  }
}

.logo {
  width: 89px;
  height: 23px;
  z-index: 101;

  // background-image: url(../../assets/images/JudyHe.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -999px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  position: fixed;
  top: 50px;
  left: 30px;
  animation: logoslidedown 0.8s cubic-bezier(0.7, 0, 0.3, 1);

  @include breakpoint($bp-sm) {
    left: 40px;
    top: 10px;

    @include transition(all, 0.3s, cubic-bezier(0.7, 0, 0.3, 1));
  }
}

.greeting-container {
  width: 100%;
  margin: 0 auto;
  background-size: 100%;
  background-image: linear-gradient(to right, $color-grapefruit 50%, $color-light-light-gray 50%);
  animation: backgroundColor 0.8s cubic-bezier(0.7, 0, 0.3, 1);
  position: relative;
  height: 100%;
  overflow: hidden;

  @include transition(background-size, 0.8s, cubic-bezier(0.7, 0, 0.3, 1));
}

#hello {
  width: 100%;
  padding: 0 20px;

  // z-index: 10;
  display: none;
  transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);

  @include both-align(absolute, 50%, 50%, -50%);

  @include breakpoint($bp-sm) {
    max-width: 400px;
  }


  @include breakpoint($bp-md) {
    max-width: 700px;
  }


  &.fin {
    .path-1, .path-2, .path-3 {
      stroke-dashoffset: 0;
    }

    .path-4 {
      stroke-width: 18px;
    }
  }
}

.path {
  fill: none;
  stroke: $color-black;
  stroke-width: 18px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.path-1 {
  stroke-dasharray: 1850 2000;
  stroke-dashoffset: 1851;

  @include transition(all, 1.3s, linear);
}

.path-2 {
  stroke-dasharray: 260 1000;
  stroke-dashoffset: 261;

  @include transition(all, 0.4s, linear, 1.4s);
}

.path-3 {
  stroke-dasharray: 100 1000;
  stroke-dashoffset: 101;

  @include transition(all, 0.3s, linear, 1.9s);
}

.path-4 {
  stroke-width: 0;
  stroke: $color-grapefruit;

  @include transition(all, 0.2s, linear, 2.3s);
}

.scroll {
  // display: block;
  color: $color-white;
  position: absolute;
  left: 35%;
  bottom: 6%;
  transform: rotate(-90deg);

  // text-orientation: mixed;
  animation: scrollslideup 0.8s cubic-bezier(0.7, 0, 0.3, 1) 4.7s forwards;
  opacity: 0;
  line-height: 60px;
  font-size: 0.675em;

  @include transition(color, 0.3s, cubic-bezier(0.7, 0, 0.3, 1));

  span {
    animation: bounce 2s 4.7s infinite;
    position: absolute;
    bottom: 0;
  }

  @include breakpoint($bp-sm) {
    position: fixed;
    right: auto;
    left: 40px;
    color: $color-black;
  }
}

.intro {
  width: 100%;
  position: absolute;
  bottom: 7%;
  transform: translateX(-100px);

  // opacity: 0;
  opacity: 1;
  text-align: left;

  @include transition(all, 0.8s, cubic-bezier(0.7, 0, 0.3, 1));

  @include breakpoint($bp-sm) {
    left: 0;
    bottom: 50%;
    width: 50%;
    transform: translateY(50%);
  }


  .headshot, p {
    max-width: 200px;
    margin-left: 0;
    transform: translateY(30px);

    @include breakpoint($bp-sm) {
      max-width: 250px;
    }
  }

  .headshot {
    width: 100%;
  }

  p {
    color: $color-black;
    line-height: 1.3;
    padding-top: 30px;
    font: {
      weight: 700;
      size: 1em;
    };

    @include breakpoint($bp-sm) {
      font-size: 1.2em;
    }


    .white {
      color: $color-white;
    }
  }
}

// email section begins
.email-bg {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  background: {
    image: url(../../assets/images/email-transition.jpg);
    position: center 90%;
    repeat: no-repeat;
    size: cover;
  };

  @include breakpoint($bp-sm) {
    height: 300px;
    background-position: center bottom;
  }


  @include breakpoint($bp-sm) {
    height: 500px;
  }


  @include breakpoint($bp-md) {
    height: 600px;
  }
}

.email-title {
  h2, .dot {
    color: $color-grapefruit;
  }

  a:after, a:hover:before {
    --cl: #ffada9;
  }
   @include breakpoint($bp-md) {
    width: 40%;
    float: left;
  }
}

.esp {
  width: 100%;
  background-color: $color-black-background;
  margin: 0 auto;
  padding: 50px 30px;
  @include breakpoint($bp-md) {
    width: 50%;
    margin: 50px 30px;
    float: right;
  }

  ul {
    width: 100%;
    height: 100%;

    @include flexbox;

    flex-flow: row wrap;
    justify-content: space-around;




    li {
      flex: 1 0 35%;
      height: 90px;
      max-width: 160px;
      margin: 0 10px;



      &:nth-child(-n+3) {

        margin-bottom: 20px;
      }



      @include breakpoint($bp-sm) {
        flex: 1 0 22%;
        margin: 0 20px;
        max-width: 200px;

        &:nth-child(-n+3) {
          margin-bottom: 30px;
        }

      }


      a {
        display: block;
        width: 100%;
        height: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

        @include transition(all, 0.3s, ease-in-out);

        &:hover {
          transform: scale(1.1);
        }
      }

      .litmus {
        background: {
          image: url(../../assets/images/litmus.png);
          position: center;
          repeat: no-repeat;
          size: contain;
        };
      }

      .eoa {
        background: {
          image: url(../../assets/images/EOA.png);
          position: center;
          repeat: no-repeat;
          size: contain;
        };
      }

      .ibm {
        background: {
          image: url(../../assets/images/ibm.png);
          position: center;
          repeat: no-repeat;
          size: contain;
        };
      }

      .blackbaud {
        background: {
          image: url(../../assets/images/blackbaud.svg);
          position: center;
          repeat: no-repeat;
          size: contain;
        };
      }

      .emma {
        background: {
          image: url(../../assets/images/emma.png);
          position: center;
          repeat: no-repeat;
          size: contain;
        };
      }
    }
  }
}

#about.active {
  svg polyline {
    animation: dash 0.5s linear forwards;
  }
}
