@import "key-frames";

section {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.jumbo-container {
  margin: 0 auto;
  padding: 0;
  // background-color: $color-light-light-gray;
  overflow: hidden;

  @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));

  @include breakpoint($bp-sm) {
    margin: 0 40px;
  }
}

.icons {
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;

  svg {
    vertical-align: top;

    &:hover {
      #facebook-fill {
        fill: $color-facebook-hover;
      }

      #instagram-fill {
        fill: $color-ins-hover;
      }
    }
  }

  #wechat-fill:hover {
    fill: $color-wechat-hover;
  }
}

.contact-links {
  text-decoration: none;
  color: $color-black;
  font-size: 0.8em;
  line-height: 1.7;
  font: {
    family: $font-mon;
    weight: 600;
  };

  &.address {
    font-weight: 400;
  }

  &:hover {
    text-decoration: underline;

    &.address {
      text-decoration: none;
    }
  }
}

.brief {
  cursor: pointer;

  &:hover {
    .arrow:after {
      right: -10px;
    }

    .arrow:before {
      right: -10px;
      width: 35px;
    }
  }

  .arrow {
    position: relative;
    width: 65px;
    display: inline-block;
    padding-bottom: 45px;
    margin-right: 20px;

    &:before {
      content: "";
      width: 40px;
      height: 2px;
      background: $color-black;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 24px;

      @include transition(all, 0.3s, ease);
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 12px;
      border-color: transparent transparent transparent $color-black;
      position: absolute;
      top: 50%;
      margin-top: -6px;
      right: 13px;

      @include transition(all, 0.3s, ease);
    }
  }

  p {
    display: inline-block;
    color: $color-black;
    font-size: 0.875em;
    font: {
      weight: 400;
      family: $font-mon;
      size: 0.875;
    };
  }

  span {
    display: block;
    text-align: left;
    line-height: 1.7;
    font: {
      weight: 900;
      family: $font-mon;
      size: 1.5em;
    };

    @include breakpoint($bp-sm) {
      font-size: 1.8em;
    }


    @include breakpoint($bp-md) {
      font-size: 2em;
    }
  }
}

.waves {
  width: 50px;
  height: 10px;
  display: block;
  position: relative;
  padding-bottom: 30px;

  svg {
    position: absolute;
    left: 0;
  }
}

svg polyline {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.title-container {
  margin: 10%;

  @include breakpoint($bp-md) {
    margin: 15% 10%;
  }


  @include breakpoint($bp-md) {
    margin: 18% 0 8% 18%;
  }
}

h2.section-header {
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;
  font: {
    size: 3em;
    weight: 900;
  };

  @include breakpoint($bp-sm) {
    font-size: 4em;
  }


  @include breakpoint($bp-md) {
    font-size: 5em;
  }
}

h3.section-subheader {
  color: $color-black;
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 1.2em;

  @include breakpoint($bp-sm) {
    font-size: 1.6em;
  }


  @include breakpoint($bp-md) {
    font-size: 2em;
  }
}

p.section-copy {
  color: $color-black;
  font-weight: 400;
  margin-bottom: 20px;

  @include breakpoint($bp-md) {
    font-size: 1.2em;
  }
}

a.section-link {
  color: $color-black;
  text-decoration: underline;
  display: block;
  line-height: 0.8;
  text-align: left;
  position: relative;
  z-index: 1;
  width: 90px;
  font: {
    family: $font-lib;
    size: 0.9em;
    weight: 600;
    style: italic;
  };

  &:before, &:after {
    content: '';
    width: 0%;
    height: 10px;
    background: var(--cl, #FFFFFF);
    z-index: -1;

    @include vertical-align(absolute, 50%);
  }

  &:before {
    left: -2.5px;
  }

  &:after {
    right: 2.5px;
    background: var(--cl, transparent);

    @include transition(width, 0.8s, cubic-bezier(0.22, 0.61, 0.36, 1));
  }

  &:hover {
    text-decoration: none;
  }

  &:hover:before {
    background: var(--cl, transparent);
    width: 90px;

    @include transition(width, 0.5s, cubic-bezier(0.22, 0.61, 0.36, 1));
  }

  &:hover:after {
    background: transparent;
    width: 90px;
    transition: 0s;
  }
}

// menu begins
.menu-color {
  width: 100%;
  height: 100%;
  opacity: 0;

  @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));
}

.menu {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  left: -100%;
  background-color: $color-white;

  @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));
}

.menu-container {
  position: relative;
  max-width: calc(100vw - 85px);
  height: 100%;
  background-color: $color-white;

  @include breakpoint($bp-sm) {
    max-width: calc(100vw - 160px);
  }


  @include breakpoint($bp-md) {
    max-width: 85%;
  }
}

.menu-options {
  position: absolute;
  left: 40px;
  top: 15%;

  @include breakpoint($bp-sm) {
    left: 150px;
    top: 35%;
  }


  @include breakpoint($bp-md) {
    left: 25%;
    top: 20%;
  }


  li {
    margin: 10px 0;
    text-align: left;
    opacity: 0;

    &:nth-child(1) {
      @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1), 0.5s);
    }

    &:nth-child(2) {
      @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1), 0.6s);
    }

    &:nth-child(3) {
      @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1), 0.7s);
    }

    &:last-of-type {
      margin-top: 40px;

      @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1), 0.8s);
    }
  }

  .links {
    text-decoration: none;
    color: $color-black;
    text-align: left;
    font-size: 1.4em;
    line-height: 1.7;
    position: relative;
    z-index: 1;
    font: {
      family: $font-mon;
      weight: 900;
    };

    @include breakpoint($bp-sm) {
      font-size: 1.8em;
    }


    @include breakpoint($bp-md) {
      font-size: 2em;
    }


    &:before, &:after {
      content: '';
      width: 0%;
      height: 17px;
      background: var(--cl, #FFFFFF);
      z-index: -1;

      @include vertical-align(absolute, 50%);
    }

    &:before {
      left: -2.5px;
    }

    &:after {
      right: 2.5px;
      background: var(--cl, transparent);

      @include transition(width, 0.8s, cubic-bezier(0.22, 0.61, 0.36, 1));
    }

    &:hover:before {
      background: var(--cl, transparent);
      width: 100%;

      @include transition(width, 0.5s, cubic-bezier(0.22, 0.61, 0.36, 1));
    }

    &:hover:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }

    &.about:after, &.about:hover:before, &.about.active:before {
      --cl: #ffada9;
    }

    &.email:after, &.email:hover:before, &.email.active:before {
      --cl: #fcb7a8;
    }

    &.projects:after, &.projects:hover:before, &.projects.active:before {
      --cl: #f3c130;
    }

    &.fun:after, &.fun:hover:before, &.fun.active:before {
      --cl: #d8d8e8;
    }

    &.about.active:before, &.email.active:before, &.projects.active:before, &.fun.active:before {
      width: 100%;
    }
  }
}

.menu-contact-info {
  position: absolute;
  left: 40px;
  top: 92%;
  text-align: left;
  opacity: 0;
  transition: top 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s, opacity 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0.5s;

  @include breakpoint($bp-sm) {
    left: 150px;
    top: 57%;
    margin-top: 40px;
  }


  @include breakpoint($bp-md) {
    left: 25%;
  }
}

.menu-brief {
  display: none;

  @include breakpoint($bp-sm) {
    display: block;
    position: absolute;
    left: 61px;
    bottom: 30px;
  }


  @include breakpoint($bp-md) {
    left: 25%;
  }
}

.menu-burger-area {
  position: fixed;
  right: 30px;
  top: 37px;
  opacity: 1;
  text-align: center;
  font-size: 0px;
  z-index: 101;
  height: 45px;
  width: 45px;
  cursor: pointer;
  background: $color-white;
  animation: burgerslide 0.8s cubic-bezier(0.7, 0, 0.3, 1);

  &:hover {
    .menu-burger .line {
      &:nth-of-type(1) {
        width: 20px;
      }

      &:nth-of-type(2) {
        width: 32px;
      }

      &:nth-of-type(3) {
        width: 18px;
      }
    }
  }

  @include border-radius(25px);
  @include breakpoint($bp-sm) {
    right: auto;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;

    // animation: fadeIn 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0s forwards;

    &:hover {
      .menu-txt {
        @include transform(rotate(-90deg) translateY(-8px));

        span {
          &:nth-of-type(1) {
            @include transform(translateY(-5px));
          }

          &:nth-of-type(2) {
            @include transform(translateY(5px));
          }

          &:nth-of-type(3) {
            @include transform(translateY(-2px));
          }

          &:nth-of-type(4) {
            @include transform(translateY(3px));
          }
        }
      }
    }
  }
}

.menu-burger {
  @include both-align(absolute, 50%, 50%, -50%);

  .line {
    float: right;
    clear: right;
    height: 2px;
    background: $color-black;

    @include transition(all, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));

    &:nth-of-type(1) {
      width: 16px;
    }

    &:nth-of-type(2) {
      width: 20px;
      margin-top: 2px;

      @include breakpoint($bp-sm) {
        margin-top: 3px;
      }
    }

    &:nth-of-type(3) {
      width: 12px;
      margin-top: 2px;

      @include breakpoint($bp-sm) {
        margin-top: 3px;
      }
    }
  }
}

.menu-txt {
  opacity: 0;

  @include breakpoint($bp-sm) {
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 41%;
    right: -40px;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 150ms linear 0ms, color 150ms linear 0ms;
    -moz-transition: -moz-transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 150ms linear 0ms, color 150ms linear 0ms;
    transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 150ms linear 0ms, color 150ms linear 0ms;
    font: {
      size: 0.4rem;
      family: $font-mon;
      weight: 900;
    };

    @include transform(rotate(-90deg));

    span {
      display: inline-block;

      @include transition(transform, 0.4s, cubic-bezier(0.7, 0, 0.3, 1));
    }
  }
}

.desktop-social-icons {
  display: none;

  @include breakpoint($bp-sm) {
    display: block;
    right: 8px;
    z-index: 101;

    @include transition(right, 0.5s, cubic-bezier(0.7, 0, 0.3, 1));

    @include vertical-align(fixed, 50%);

    .icons {
      display: block;
      margin: 10px 0;
      vertical-align: middle;
    }
  }
}

.menu-hover {
  @include breakpoint($bp-sm) {
    .jumbo-container {
      margin-left: 78px;
    }

    #greeting .scroll {
      color: $color-white;
    }
  }
}

.menu-active {
  .menu {
    padding: 20px 20px 20px 0;
    left: 0;

    @include breakpoint($bp-sm) {
      padding: 80px 80px 80px 0;
    }


    @include breakpoint($bp-md) {
      padding-right: 100px;
    }
  }

  .menu-color {
    opacity: 1;
    background: $color-light-light-gray;
  }

  .menu-options li {
    margin: 0 0 10px 0;
    opacity: 1;

    &:last-of-type {
      margin-top: 30px;

      @include breakpoint($bp-sm) {
        display: none;
      }
    }
  }

  .menu-contact-info {
    top: 90%;
    opacity: 1;

    @include breakpoint($bp-sm) {
      top: 55%;
    }
  }

  .menu-burger-area {
    @include breakpoint($bp-md) {
      left: 10% !important;
    }
  }

  .menu-burger {
    .line {
      &:nth-of-type(1) {
        width: 20px !important;

        @include transform(rotate(45deg));
      }

      &:nth-of-type(2) {
        width: 20px !important;
        margin-top: -2px;

        @include transform(rotate(-45deg));
      }

      &:nth-of-type(3) {
        width: 0px !important;
      }
    }
  }

  .menu-txt {
    display: none;
  }

  .desktop-social-icons {
    @include breakpoint($bp-sm) {
      right: 26px;
    }


    @include breakpoint($bp-md) {
      right: 37px;
    }
  }

  .logo {
    @include breakpoint($bp-sm) {
      top: 80px;
      left: 150px;
    }


    @include breakpoint($bp-md) {
      left: 20%;
    }
  }

  .scroll {
    color: $color-white;
  }
}

.padding {
  display: none;

  @include breakpoint($bp-sm) {
    display: block;
    z-index: 99;
    width: 100%;
    height: 40px;
    background-color: $color-white;
    position: fixed;
  }
}

.menuOpen {
  .jumbo-container {
    padding: 20px;

    @include breakpoint($bp-sm) {
      padding: 80px;
    }


    @include breakpoint($bp-md) {
      padding: 100px;
    }
  }

  #greeting .logo {
    @include breakpoint($bp-sm) {
      top: 80px;
      left: 150px;
      z-index: 100;
    }


    @include breakpoint($bp-md) {
      left: 20%;
    }
  }

  .menu-burger {
    .line {
      &:nth-of-type(1) {
        width: 20px !important;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        width: 20px !important;
        margin-top: -2px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-of-type(3) {
        width: 0px !important;
      }
    }
  }

  .menu-button {
    @include breakpoint($bp-md) {
      left: 10% !important;
    }
  }

  .txt {
    display: none;
  }

  .menu-color {
    padding-right: 20px;
    opacity: 1;
    pointer-events: all;
    background-color: $color-grapefruit;

    @include breakpoint($bp-sm) {
      padding-right: 80px;
    }


    @include breakpoint($bp-md) {
      padding-right: 100px;
    }
  }

  .menu {
    padding: 20px 20px 20px 0;
    left: 0;

    @include breakpoint($bp-sm) {
      padding: 80px 80px 80px 0;
    }


    @include breakpoint($bp-md) {
      padding-right: 100px;
    }
  }

  .menu-options li {
    margin: 0 0 10px 0;
    opacity: 1;

    @include breakpoint($bp-sm) {
      margin: 0;
    }


    &:last-of-type {
      margin-top: 30px;

      @include breakpoint($bp-sm) {
        display: none;
      }
    }
  }

  .menu-info {
    top: 90%;
    opacity: 1;

    @include breakpoint($bp-sm) {
      top: 55%;
    }
  }

  .desktop-social-icons {
    @include breakpoint($bp-sm) {
      right: 26px;
    }


    @include breakpoint($bp-md) {
      right: 37px;
    }
  }

  #greeting {
    &.scroll {
      color: $color-white;
    }

    &#hello {
      z-index: -100;
    }
  }

  @media (max-height: 660px) and (min-width: 600px) {
    .menu {
      .menu-info {
        top: 40%;
      }
    }
  }
}

.menuHover {
  @include breakpoint($bp-sm) {
    .jumbo-container {
      padding-left: 78px;
    }

    #greeting .scroll {
      color: $color-white;
    }
  }
}

// greeting section begins
#greeting {
  width: 100% !important;
}

.bottom-padding {
  bottom: 0;
}

.top-padding {
  top: 0;
}

.greeting-jumbo-container {
  height: 100vh;

  @include breakpoint($bp-sm) {
    padding-top: 40px;
  }
}

.logo {
  width: 89px;
  height: 23px;
  z-index: 101;
  background-image: url(../../assets/images/JudyHe.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -999px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  position: absolute;
  top: 50px;
  left: 30px;
  animation: logoslidedown 0.8s cubic-bezier(0.7, 0, 0.3, 1);

  @include breakpoint($bp-sm) {
    position: fixed;
    left: 40px;
    top: 10px;

    @include transition(all, 0.3s, cubic-bezier(0.7, 0, 0.3, 1));
  }
}

.greeting-container {
  width: 100%;
  margin: 0 auto;
  background-size: 100%;
  background-image: linear-gradient(to right, $color-grapefruit 50%, $color-light-light-gray 50%);
  animation: backgroundColor 0.8s cubic-bezier(0.7, 0, 0.3, 1);
  position: relative;
  height: 100%;
  overflow: hidden;

  @include transition(background-size, 0.8s, cubic-bezier(0.7, 0, 0.3, 1));
}

#hello {
  width: 100%;
  padding: 0 20px;

  // z-index: 10;
  display: none;
  transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);

  @include both-align(absolute, 50%, 50%, -50%);

  @include breakpoint($bp-sm) {
    max-width: 400px;
  }


  @include breakpoint($bp-md) {
    max-width: 700px;
  }


  &.fin {
    .path-1, .path-2, .path-3 {
      stroke-dashoffset: 0;
    }

    .path-4 {
      stroke-width: 18px;
    }
  }
}

.path {
  fill: none;
  stroke: $color-black;
  stroke-width: 18px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.path-1 {
  stroke-dasharray: 1850 2000;
  stroke-dashoffset: 1851;

  @include transition(all, 1.3s, linear);
}

.path-2 {
  stroke-dasharray: 260 1000;
  stroke-dashoffset: 261;

  @include transition(all, 0.4s, linear, 1.4s);
}

.path-3 {
  stroke-dasharray: 100 1000;
  stroke-dashoffset: 101;

  @include transition(all, 0.3s, linear, 1.9s);
}

.path-4 {
  stroke-width: 0;
  stroke: $color-grapefruit;

  @include transition(all, 0.2s, linear, 2.3s);
}

.scroll {
  // display: block;
  color: $color-white;
  position: absolute;
  left: 35%;
  bottom: 6%;
  transform: rotate(-90deg);

  // text-orientation: mixed;
  animation: scrollslideup 0.8s cubic-bezier(0.7, 0, 0.3, 1) 4.7s forwards;
  opacity: 0;
  line-height: 60px;
  font-size: 0.675em;

  @include transition(color, 0.3s, cubic-bezier(0.7, 0, 0.3, 1));

  span {
    animation: bounce 2s 4.7s infinite;
    position: absolute;
    bottom: 0;
  }

  @include breakpoint($bp-sm) {
    position: fixed;
    right: auto;
    left: 40px;
    color: $color-black;
  }
}

.intro {
  width: 100%;
  position: absolute;
  bottom: 7%;
  transform: translateX(-100px);

  // opacity: 0;
  opacity: 1;
  text-align: left;

  @include transition(all, 0.8s, cubic-bezier(0.7, 0, 0.3, 1));

  @include breakpoint($bp-sm) {
    left: 0;
    bottom: 50%;
    width: 50%;
    transform: translateY(50%);
  }


  .headshot, p {
    max-width: 200px;
    margin-left: 0;
    transform: translateY(30px);

    @include breakpoint($bp-sm) {
      max-width: 250px;
    }
  }

  .headshot {
    width: 100%;
  }

  p {
    color: $color-black;
    line-height: 1.3;
    padding-top: 30px;
    font: {
      weight: 700;
      size: 1em;
    };

    @include breakpoint($bp-sm) {
      font-size: 1.2em;
    }


    .white {
      color: $color-white;
    }
  }
}

// email section begins

.email-bg {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  background: {
    image: url(../../assets/images/email-transition.jpg);
    position: center 90%;
    repeat: no-repeat;
    size: cover;
  };

  @include breakpoint($bp-sm) {
    height: 300px;
    background-position: center bottom;
  }


  @include breakpoint($bp-sm) {
    height: 500px;
  }


  @include breakpoint($bp-md) {
    height: 650px;
  }


  @include breakpoint($bp-lg) {
    height: 1000px;
  }
}

.email-title-container {
  h2, .dot {
    color: $color-pink;
  }

  a:after, a:hover:before {
    --cl: #fcb7a8;
  }

  @include breakpoint($bp-md) {
    width: 40%;
    float: left;
    padding-right: 20px;
  }
}

.esp {
  width: 100%;
  background-color: $color-black-background;
  margin: 0 auto;
  padding: 10%;

  @include breakpoint($bp-md) {
    width: 35%;
    margin: 28% 5% 13% 0;

    //margin-top: 18%;
    float: right;
    padding: 5%;
  }


  ul {
    width: 100%;
    height: 100%;

    @include flexbox;

    flex-flow: row wrap;
    justify-content: space-between;

    @include breakpoint($bp-sm) {
      justify-content: space-around;
    }


    li {
      flex: 1 0 35%;
      height: 90px;
      max-width: 160px;

      &:nth-child(-n+4) {
        margin-bottom: 20px;
      }

      &:nth-child(odd) {
        margin-right: 10px;
      }

      &:nth-child(even) {
        margin-left: 10px;
      }

      &:last-child {
        margin-left: auto;
        margin-right: auto;
      }

      @include breakpoint($bp-sm) {
        flex: 1 0 25%;
        max-width: 180px;

        &:nth-child(-n+4) {
          margin-bottom: 40px;
        }

        &:nth-child(1) {
          margin-right: 20px;
        }

        &:nth-child(2) {
          margin-right: 20px;
          margin-left: 20px;
        }

        &:nth-child(3) {
          margin-right: 0;
          margin-left: 20px;
        }

        &:nth-child(4) {
          margin-right: 20px;
          margin-left: 0;
          margin-bottom: 0;
        }

        &:nth-child(5) {
          margin-left: 20px;
          margin-right: 0;
        }
      }


      @include breakpoint($bp-md) {
        flex: 1 0 30%;

        &:nth-child(2) {
          margin-right: 0;
        }

        &:nth-child(3) {
          margin-right: 20px;
          margin-left: 0;
        }

        &:nth-child(4) {
          margin-right: 0;
          margin-left: 20px;
          margin-bottom: 20px;
        }

        &:nth-child(5) {
          margin-right: 20px;
        }

        @include breakpoint($bp-lg) {
          flex: 1 0 25%;

          &:nth-child(2) {
            margin-right: 20px;
            margin-left: 20px;
          }

          &:nth-child(3) {
            margin-right: 0;
            margin-left: 20px;
          }

          &:nth-child(4) {
            margin-right: 20px;
            margin-left: 0;
            margin-bottom: 0;
          }

          &:nth-child(5) {
            margin-left: 20px;
            margin-right: 0;
          }
        }
      }


      a {
        display: block;
        width: 100%;
        height: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

        @include transition(all, 0.3s, ease-in-out);

        &:hover {
          transform: scale(1.1);
        }
      }

      .litmus {
        background: {
          image: url(../../assets/images/litmus.png);
          position: center;
          repeat: no-repeat;
          size: contain;
        };
      }

      .eoa {
        background: {
          image: url(../../assets/images/EOA.png);
          position: center;
          repeat: no-repeat;
          size: contain;
        };
      }

      .ibm {
        background: {
          image: url(../../assets/images/ibm.png);
          position: center;
          repeat: no-repeat;
          size: contain;
        };
      }

      .blackbaud {
        background: {
          image: url(../../assets/images/blackbaud.svg);
          position: center;
          repeat: no-repeat;
          size: contain;
        };
      }

      .emma {
        background: {
          image: url(../../assets/images/emma.png);
          position: center;
          repeat: no-repeat;
          size: contain;
        };
      }
    }
  }
}

#email.active {
  svg polyline {
    animation: dash 0.5s linear forwards;
  }
}

// project section begins
#project {
  .jumbo-container {
    position: relative;
  }

  .project-jumbo-container {
    padding-top: 120px;

    @include breakpoint($bp-sm) {
      padding-top: 150px;
    }
  }

  .project-header {
    position: absolute;
    width: 100%;
    padding: 0 10%;
    top: 5%;

    @include breakpoint($bp-sm) {
      top: 83px;
    }


    @include breakpoint($bp-md) {
      padding: 0 0 0 18%;
      top: 53px;
    }
  }

  h2 {
    color: $color-projects;
  }

  .dot {
    color: $color-projects;
  }

  a:after, a:hover:before {
    --cl: #f3c130;
  }

  .project-bg {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 300px;
    z-index: -1;
    background: {
      image: url(../../assets/images/project-transition.jpg);
      position: center;
      repeat: no-repeat;
      size: cover;
    };

    @include breakpoint($bp-sm) {
      height: 300px;
    }


    @include breakpoint($bp-md) {
      height: 600px;
    }
  }

  .project-title-container {
    @include breakpoint($bp-md) {
      width: 30%;
      display: inline-block;
      margin: 10% 5% 10% 0;
      padding: 15px 0 15px 15px;
      float: right;
    }


    @include breakpoint($bp-lg) {
      width: 35%;
    }
  }

  .project-example {
    width: 100%;

    // margin: 0 auto;
    text-align: right;
    overflow: hidden;

    // padding-bottom: 10%;
    margin-bottom: 10%;

    @include breakpoint($bp-md) {
      width: 40%;
      padding-bottom: 0;
      display: inline-block;
      padding-bottom: 0;
      margin: 20% 0 10% 18%;

      //margin-top; 10%;
      float: left;
      max-width: 700px;
    }


    p, a {
      float: right;
      text-align: right;
      clear: both;
    }

    .section-link {
      padding: 20px 0;
      margin-right: 10%;

      @include breakpoint($bp-md) {
        margin-right: 0;
      }
    }
  }

  .example-img {
    width: 100%;
    height: 330px;
    background: {
      image: url(../../assets/images/projects/raise-the-barn.jpg);
      position: center;
      repeat: no-repeat;
      size: cover;
    };

    @include breakpoint($bp-sm) {
      height: 450px;
    }


    @include breakpoint($bp-md) {
      height: 300px;
    }
  }

  .example-title {
    padding: 10px 10% 0 0;
    color: $color-black;

    @include breakpoint($bp-sm) {
      font-size: 0.8125em;
    }


    @include breakpoint($bp-md) {
      padding-right: 0;
    }
  }

  .example-year {
    font-weight: 400;
    padding: 0 10% 0 0;

    @include breakpoint($bp-sm) {
      font-size: 0.8125em;
    }


    @include breakpoint($bp-md) {
      padding-right: 0;
    }
  }
}

#project.active {
  svg polyline {
    animation: dash 0.5s linear forwards;
  }
}

footer {
  width: 100%;
  height: 100px;
  padding: 0 40px;
  margin: 0 auto;
  bottom: 0;
  z-index: -1;
  position: fixed;
  text-align: left;
  background-color: $color-white;

  @include breakpoint($bp-sm) {
    height: 120px;
  }


  .footer-brief {
    @include breakpoint($bp-sm) {
      margin: 0 10%;
    }


    @include breakpoint($bp-md) {
      margin: 0 5%;
    }
  }

  .footer-contact-info {
    display: none;

    @include breakpoint($bp-md) {
      display: inline-block;
      float: right;
      margin: 0 5%;
    }
  }
}

.inner-container {
  min-height: 600px;
  position: relative;

  @include breakpoint($bp-sm) {
    height: 100vh;
  }
}

.email-container {
  background-image: linear-gradient(to bottom, $color-light-light-gray 60%, $color-pink 40%);

  @include breakpoint($bp-md) {
    background-size: 100%;
    background-image: linear-gradient(to right, $color-light-light-gray 25%, $color-pink 25%);
  }
}

.email-page-title-container {
  position: absolute;
  top: 275px;
  margin: 0 30px;

  @include breakpoint($bp-sm) {
    left: 15%;
    margin: 0;
    top: 52%;
  }


  @include breakpoint($bp-md) {
    left: 18%;
    top: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 210px;
    width: 70%;
    transform: translateY(-50%);
  }


  h2 {
    color: $color-black;
  }

  p {
    font: {
      family: $font-lib;
      style: italic;
    };

    @include breakpoint($bp-md) {
      margin-top: auto;
      padding: 0 20px;
    }
  }

  h3 {
    @include breakpoint($bp-md) {
      margin-bottom: auto;
      padding: 0 30px;
    }
  }
}

.timeline-jumbo-container {
  padding: 50px 30px;

  @include breakpoint($bp-sm) {
    padding: 80px 5% 80px 15%;
  }


  .timeline-container {
    @include breakpoint($bp-sm) {
      width: 46%;
      display: inline-block;
      padding-right: 30px;
      float: left;
    }
  }

  li:not(:last-child) {
    margin-bottom: 40px;

    @include breakpoint($bp-sm) {
      margin-bottom: 80px;
    }
  }

  .dot {
    color: $color-pink;
  }

  p.sub {
    font: {
      family: $font-lib;
      style: italic;
    };
  }

  .waves {
    padding-bottom: 0;
  }

  .blocks {
    display: none;

    @include breakpoint($bp-sm) {
      display: inline-block;
      width: 208px;
      margin-top: 100px;

      @include breakpoint($bp-md) {
        width: 242px;
      }
    }


    .top-block {
      width: 100px;
      display: inline-block;
      float: right;

      @include breakpoint($bp-md) {
        width: 120px;
      }
    }

    .bottom-block {
      width: 160px;
      display: inline-block;
      float: left;

      @include breakpoint($bp-md) {
        width: 180px;
      }
    }
  }
}

.timeline-jumbo-container.active {
  svg polyline {
    animation: dash 0.5s linear forwards;
  }
}

// Project page starts here
.project-container {
  background-image: url(../../assets/images/yellow-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-page-title-container {
  position: absolute;
  top: 275px;
  margin: 0 30px;

  @include breakpoint($bp-sm) {
    left: 15%;
    margin: 0;
    top: 40%;
    width: 40vw;
  }


  h2.section-header {
    color: $color-black;
    padding-bottom: 30px;

    @include breakpoint($bp-sm) {
      padding-bottom: 60px;
    }
  }

  p.section-copy {
    font-style: italic;
    font-family: $font-lib;
  }
}

.project-list {
  margin-top: 10em;

  @include breakpoint($bp-sm) {
    display: flex;
    flex-wrap: wrap;
  }
}

.each-project {
  position: relative;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  @include breakpoint($bp-sm) {
    flex: 1 0 36%;
    height: 400px;
  }


  @include breakpoint($bp-md) {
    height: 500px;
    flex: 1 0 30%;
  }


  img {
    width: 100%;
    height: auto;
    display: block;

    @include breakpoint($bp-sm) {
      width: 100%;
      height: 370px;
      display: block;
    }
  }

  &:hover {
    .overlay {
      transform: translateY(0%) skewY(0deg);
      transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    }

    .description {
      transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0ms;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translateY(120%) skewY(10deg);
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1) 100ms;
}

.description {
  opacity: 0;
  transform: translateY(20px);
  position: absolute;
  bottom: 50px;
  left: 20px;
  z-index: 3;
  transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1) 100ms;

  h3, p {
    color: $color-white;
  }

  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
    font-family: $font-lib;
    font-style: italic;
  }
}

[id^='modal_'] {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);

  &.modalIn {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    .modal-container {
      transform: scale(0);
      animation: zoomIn 0.3s 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    &.modalOut {
      transform: scale(1);
      animation: unfoldOut 0.8s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

      .modal-container {
        animation: zoomOut 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }

  50% {
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  50% {
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  display: block;
  background: $color-black;
  opacity: 0.9;
}

.modal-container {
  background-color: $color-white;
  margin: auto;
  padding: 20px 0;
  border: 1px solid $color-border;
  width: 100%;
  max-width: 700px;
  height: 650px;
  max-height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .modal-close {
    color: $color-grapefruit;
    float: right;
    border: 1px solid $color-border;
    padding: 1px 10px;
    cursor: pointer;
    margin: 0 20px;
    font: {
      size: 26px;
      family: $font-mon;
      weight: 700;
    };

    &:hover, &:focus {
      color: $color-yellow-hover;
    }
  }
}

.modal-header {
  width: 80%;
  padding: 0 20px 20px 20px;
  text-align: left;

  img {
    width: 100%;
    max-width: 90px;
    display: block;

    @include breakpoint($bp-md) {
      display: inline-block;
    }
  }

  .project-name {
    display: block;
    padding-top: 15px;
    font-size:1em;
    text-decoration: underline;
    color: $color-dark-gray;

    &:hover {
      text-decoration: none;
      color: $color-dark-gray;

    }

    @include breakpoint($bp-sm) {
      font-size: 1.3em;
    }
  }
}

.modal-body {
  width: 100%;
  margin: 0 auto;

  .secondary_img {
    width: 100%;
    margin: 0 auto;
  }

  .modal-descitption {
    padding: 20px;
    font-weight: 400;
    font-family: $font-lib;
    font-style: italic;
  }

  .modal-info {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    li {
      text-align: left;

      @include flexbox;
      @include align-items(flex-start);

      &:nth-child(2) {
        margin-top: 10px;
      }
    }

    img {
      margin-right: 15px;
      align-self: flex-start;
      max-width: 13px;
      margin-top: 5px;

      &.modal-tag {
        margin-top: 9px;
      }
    }

    p {
      font-weight: 400;
    }
  }
}

.modal-social-share {
  width: 100%;
  padding: 20px;
  margin: 0 auto;

  ul {
    text-align: left;
  }

  li {
    width: 90px;
    border: 1px solid $color-border;
    text-align: left;
    margin-right: 15px;
    padding: 2px 5px;
    display: inline-block;
    text-align: center;

    @include border-radius(5px);

    a {
      text-decoration: none;
    }

    img {
      width: 20px;
      vertical-align: middle;
    }

    p {
      display: inline-block;
      vertical-align: middle;
      margin-right: 3px;
      font-weight: 400;

      @include breakpoint($bp-sm) {
        font-size: 0.8em;
      }
    }
  }
}

.swiper-jumbo-container {
  padding: 50px 30px;
  @include breakpoint($bp-sm) {
    padding: 50px 0;
    margin: 0 40px;
  }

}

.swiper-slide {
  img {
    width: 100%;
    height: auto;
  }
}

.greeting-active {
   #greeting {
    .greeting-container {
      background-size: 200%;
    }

    .scroll {
      color: $color-grapefruit;

      @include breakpoint($bp-sm) {
        color: $color-black;
      }
    }

    #hello {
      transform: translate(2%, -160%);

      @include breakpoint($bp-sm) {
        transform: translate(52%, -50%);
        max-width: 50%;
      }
}
}

}