<ul class="<%= position %>">
  <li><a class="address contact-links">New York, NY</a></li>
  <li><a href="tel:1123-345-5678" class="contact-links">479-276-8686</a></li>
  <li><a class="contact-links" href="mailto:test@test.com?Subject=Hello" target="_top">judy.lyring@hotmail.com</a></li>
</ul>
