<ul class="<%= position %>">
  <li><a class="address contact-links">New York, NY</a></li>
  <li><a href="tel:4792768686" class="contact-links">479-276-8686</a></li>
  <li><a class="contact-links" href="mailto:judyhexy@gmail.com?Subject=Hello" target="_top">judyhexy@gmail.com</a></li>
</ul>
