<ul class="<%= position %>">
  <li><a class="address contact-links">New York, NY</a></li>
  <li><a href="tel:1123-345-5678" class="contact-links">123-345-5678</a></li>
  <li><a class="contact-links" href="mailto:test@test.com?Subject=Hello" target="_top">test@test.com</a></li>
</ul>
